 *,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}.i-tabler-brand-github{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;display:inline-block;width:1em;height:1em;}.i-tabler-brand-linkedin{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm4 5v5m0-8v.01M12 16v-5'/%3E%3Cpath d='M16 16v-3a2 2 0 0 0-4 0'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;display:inline-block;width:1em;height:1em;}.i-tabler-brand-twitter{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M22 4.01c-1 .49-1.98.689-3 .99c-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4c0 0-4.182 7.433 4 11c-1.872 1.247-3.739 2.088-6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497-3.753c0-.249 1.51-2.772 1.818-4.013z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;display:inline-block;width:1em;height:1em;}.container{width:100%;}@media (min-width: 640px){.container{max-width:640px;}}@media (min-width: 768px){.container{max-width:768px;}}@media (min-width: 1024px){.container{max-width:1024px;}}@media (min-width: 1280px){.container{max-width:1280px;}}@media (min-width: 1536px){.container{max-width:1536px;}}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}.absolute{position:absolute;}.grid{display:grid;}.m-auto{margin:auto;}.mx-auto{margin-left:auto;margin-right:auto;}.my,.my-4{margin-top:1rem;margin-bottom:1rem;}.my-12{margin-top:3rem;margin-bottom:3rem;}.me{margin-inline-end:1rem;}.mt-5{margin-top:1.25rem;}.block{display:block;}.inline-block{display:inline-block;}.contents{display:contents;}.hidden{display:none;}.h1{height:0.25rem;}.h2{height:0.5rem;}.h3{height:0.75rem;}.max-w-21rem{max-width:21rem;}.w-fit{width:fit-content;}.flex{display:flex;}.inline-flex{display:inline-flex;}.basis-1\/3{flex-basis:33.3333333333%;}.flex-col{flex-direction:column;}.flex-wrap{flex-wrap:wrap;}.hover\:scale-110:hover{--un-scale-x:1.1;--un-scale-y:1.1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.items-center{align-items:center;}.justify-between{justify-content:space-between;}.gap-4{grid-gap:1rem;gap:1rem;}.gap-y-4{grid-row-gap:1rem;row-gap:1rem;}.-b{border-width:-1px;}.border-rounded-2{border-radius:0.5rem;}.p-0{padding:0;}.pt{padding-top:1rem;}.text-center{text-align:center;}.text-right{text-align:right;}.vertical-sub{vertical-align:sub;}.text-xl{font-size:1.25rem;line-height:1.75rem;}.text-xs{font-size:0.75rem;line-height:1rem;}.font-300{font-weight:300;}.leading-\[1\.1\]{line-height:1.1;}.uppercase{text-transform:uppercase;}.italic{font-style:italic;}.not-italic{font-style:normal;}.text-\[color\:var\(--ink\)\]{color:var(--ink);}.link-decoration-none:link{text-decoration:none;}.opacity-90{opacity:0.9;}.transition{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.duration-500{transition-duration:500ms;} :root {
  --accent: #e63946;
  --background: #faf9f8;
  --lightAccent: #a8dae5;
  --lighterAccent: #e6e8e4;
  --dark: #457b9d;
  --darker: #1d3557;
  --slate: #2f3948;
  --white: #d2d2d2;
  --black: #152030;
  --ink: var(--slate);
  --paper: var(--background);
}
@media (prefers-color-scheme: dark) {
  :root {
    --lightAccent: #2e5c87;
    --lighterAccent: #26292b;
    --dark: #182a45;
    --darker: var(--background);
    --paper: var(--black);
    --ink: var(--white);
  }
  :root img {
    filter: brightness(0.8) contrast(1.2);
  }
}

@font-face {
  font-family: "Zapfino";
  src: url("/fonts/Zapfino.woff") format("woff");
}
:root {
  --accentFont: "Zapfino", Georgia, Times, serif;
  --primaryFont: "Libre Franklin", sans-serif;
  --codeFont: "Fira Code", monospace;
  font-size: 1rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  :root {
    font-size: 1.125rem;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 1.25rem;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 4.5rem 0 1rem;
  line-height: 1.1;
  font-family: var(--accentFont);
  font-weight: 800;
  color: var(--darker);
}
@media (prefers-color-scheme: dark) {
  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
  }
}

h1 {
  font-size: 2.8rem;
  margin: 0 0 3rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
}
h1::after {
  content: "";
  height: 0.1em;
  background: var(--accent);
  width: 100%;
  margin-left: -100%;
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.35rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: var(--darker);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--dark);
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
}
ul ul {
  list-style-type: circle;
}
ul ::marker {
  color: var(--accent);
}

strong {
  font-weight: 800;
}
@media (prefers-color-scheme: dark) {
  strong {
    font-weight: 700;
  }
}

.name-heading {
  font-weight: 800;
  color: var(--darker);
  font-variant: small-caps;
  text-transform: lowercase;
}
@media (prefers-color-scheme: dark) {
  .name-heading {
    font-weight: 700;
  }
}
.name-heading:first-letter {
  letter-spacing: normal;
  font-family: var(--accentFont);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
  max-width: 100%;
}

main {
  width: 100%;
  max-width: 42rem;
  padding: 2.5rem 2rem;
}
@media (min-width: 768px) {
  main {
    margin: 6rem auto;
    padding: 0 2rem;
  }
}

.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.callout,
pre[class*=language-] {
  padding: 2rem;
  margin: 2rem 0 2rem -2rem;
}
@media (max-width: 768px) {
  .callout,
  pre[class*=language-] {
    max-width: unset;
    width: 100vw;
  }
}
@media (min-width: 768px) {
  .callout,
  pre[class*=language-] {
    border-radius: 0.3rem;
    min-width: calc(100% + 4rem);
  }
}

li {
  margin-bottom: 0.25rem;
}

:where(h2, h3, h4, h5, h6) .icon-link {
  position: relative;
}
:where(h2, h3, h4, h5, h6) .icon-link::before {
  content: url("/link.svg");
  fill: currentColor;
  position: absolute;
  left: -1rem;
  min-width: 1rem;
  width: 100%;
  height: 1rem;
  top: 0;
  opacity: 0.2;
  transition: opacity 0.2s;
}
@media (min-width: 768px) {
  :where(h2, h3, h4, h5, h6) .icon-link::before {
    left: -1.5rem;
  }
}
:where(h2, h3, h4, h5, h6) .icon-link:hover::before {
  opacity: 1;
}

.utterances {
  margin-top: 2rem;
}
@media (max-width: 359px) {
  .utterances {
    margin-left: -2rem;
    width: 100vw;
  }
}

.pagination {
  margin: 0 0 1rem;
}
.pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
.pagination ul li {
  margin: 0;
}
.pagination ul a {
  background: var(--lightAccent);
  text-decoration: none;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-family: var(--primaryFont);
  font-weight: 800;
  transition: background 0.1s;
}
@media (prefers-color-scheme: dark) {
  .pagination ul a {
    font-weight: 700;
  }
}
.pagination ul a:hover {
  background: var(--accent);
  color: var(--background);
}
.pagination ul a[aria-current=true] {
  background: var(--accent);
  color: var(--background);
  border: 1px solid currentColor;
}

header,
footer {
  font-family: var(--primaryFont);
  padding: 2.5rem 2rem;
}
header a,
footer a {
  text-decoration: none;
}
header a.active,
footer a.active {
  font-weight: 800;
}
@media (prefers-color-scheme: dark) {
  header a.active,
  footer a.active {
    font-weight: 700;
  }
}
header nav ul,
footer nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1.5rem;
  padding: 0;
  margin: 0;
}
header nav ul a:hover,
footer nav ul a:hover {
  text-decoration: underline;
}
header svg,
footer svg {
  fill: currentColor;
}

header {
  background: var(--lightAccent);
  color: var(--darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
}
header .site-title {
  line-height: 1;
  color: inherit;
  text-align: center;
  margin: 0;
  display: block;
  font-size: 2.5rem;
  font-weight: 800;
}
@media (prefers-color-scheme: dark) {
  header .site-title {
    font-weight: 700;
  }
}
header .menu-button {
  margin: 0;
  background: transparent !important;
  color: inherit;
  padding: 0;
  border: 0;
  width: 2rem;
}
@media (min-width: 768px) {
  header .menu-button {
    display: none;
  }
}
header .main-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  visibility: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--darker);
  color: var(--paper);
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header .main-nav.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: unset;
  visibility: unset;
}
header .main-nav.open li {
  opacity: 0;
  animation: slide_in_left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
header .main-nav.open li a {
  color: inherit;
}
header .main-nav.open li:nth-of-type(1) {
  animation-delay: 0.2s;
}
header .main-nav.open li:nth-of-type(2) {
  animation-delay: 0.25s;
}
header .main-nav.open li:nth-of-type(3) {
  animation-delay: 0.3s;
}
header .main-nav.open li:nth-of-type(4) {
  animation-delay: 0.35s;
}
header .main-nav.open li:nth-of-type(5) {
  animation-delay: 0.4s;
}
header .main-nav.open li:nth-of-type(6) {
  animation-delay: 0.45s;
}
header .main-nav.open li:nth-of-type(7) {
  animation-delay: 0.5s;
}
header .main-nav.open li:nth-of-type(8) {
  animation-delay: 0.55s;
}
header .main-nav .menu-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
header .main-nav ul li {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: calc(0.2rem + 2vh);
}
@media (min-width: 768px) {
  header .main-nav {
    opacity: 1;
    transform: none;
    position: unset;
    height: auto;
    width: auto;
    background: unset;
    pointer-events: unset;
    visibility: unset;
    color: inherit;
  }
  header .main-nav ul {
    margin: 1rem 0 0;
    padding-top: 0.5rem;
    border-top: 1px solid var(--dark);
    width: 100%;
  }
  header .main-nav ul li {
    font-size: inherit;
    display: initial;
    width: initial;
    text-align: initial;
    margin-bottom: 0;
  }
}

footer {
  background: var(--darker);
  color: var(--paper);
  display: grid;
  grid-template-columns: 100%;
  align-items: stretch;
  gap: 2rem;
}
@media (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr 2fr;
  }
}
footer .menu-button {
  display: none;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
}
footer a {
  color: inherit;
}
footer nav {
  display: initial;
}
@media (min-width: 768px) {
  footer nav {
    border-right: 1px solid var(--dark);
  }
}
footer nav ul {
  display: initial;
}
footer nav ul li + li {
  margin-top: 0.5rem;
}

.skip-to-content-link {
  position: absolute;
  top: -6rem;
  left: 0;
  padding: 0.5em;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: var(--darker);
  color: var(--background);
}
.skip-to-content-link:focus {
  transform: translateY(6rem);
  opacity: 1;
  z-index: 11;
}

form {
  margin: 2rem 0;
}

button,
input[type=submit] {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--darker);
  color: var(--paper);
  font-weight: 800;
  border: 2px solid var(--darker);
  border-radius: 0.125rem;
  background: var(--darker);
  margin: 2rem 0 0;
  display: block;
  width: max-content;
  transition: background 0.2s;
}
@media (prefers-color-scheme: dark) {
  button,
  input[type=submit] {
    font-weight: 700;
  }
}
button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background: var(--accent);
}

label,
fieldset {
  font-weight: 800;
  display: inline-block;
}
@media (prefers-color-scheme: dark) {
  label,
  fieldset {
    font-weight: 700;
  }
}

fieldset {
  padding: 0;
  border: 0;
}

input {
  display: block;
  font-size: inherit;
  padding: 0.5rem;
  border: 1px solid var(--darker);
  border-radius: 0.125rem;
  width: 100%;
  accent-color: var(--accent);
  background-color: transparent;
}
input[type=radio], input[type=checkbox] {
  display: initial;
  width: auto;
}
input[type=radio]:not(:checked) + label, input[type=checkbox]:not(:checked) + label {
  font-weight: 400;
}

.form-section,
fieldset {
  margin-top: 1.5rem;
}

::placeholder {
  color: var(--dark);
}

@keyframes slide_in_left {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sr-only {
  position: absolute;
  left: -100vw;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  word-wrap: normal;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

pre,
code {
  font-family: var(--codeFont);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

pre {
  overflow-y: auto;
  color: var(--paper);
  background: var(--darker);
  padding: 1rem;
  font-size: 0.8rem;
}

code {
  color: var(--darker);
  font-size: 0.8rem;
  padding: 0.125em 0.25em;
  border-radius: 4px;
  background: var(--lighterAccent);
}

pre code {
  padding: 0;
  background: transparent;
  font-size: 0.8rem;
}

h1 code {
  font-size: inherit;
}

h2 code {
  font-size: inherit;
}

h3 code {
  font-size: inherit;
}

h4 code {
  font-size: inherit;
}

h5 code {
  font-size: inherit;
}

h6 code {
  font-size: inherit;
}

/**
 * What follows is all syntax highlighting, based on the Dracula theme by Zeno Rocha
 */
code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #282a36;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: 800;
}
@media (prefers-color-scheme: dark) {
  .token.important,
  .token.bold {
    font-weight: 700;
  }
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media print {
  header,
  footer,
  .icon-link,
  .no-print {
    display: none;
  }
  html,
  body {
    font-size: 0.9rem;
  }
  main {
    margin: auto;
    padding: 0;
  }
}
@media screen {
  .print-only {
    display: none !important;
    visibility: hidden;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--ink);
  font-family: var(--primaryFont);
  background: var(--paper);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media print {
  body {
    background: #fff;
  }
}.\/.svelte-823y9m{visibility:hidden;display:none}